body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  border: solid 2px black;
  font-family: "Maven Pro", sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/backgournd.svg);
  padding: 30px;
  border-top: solid 10px #57bb6b;
  background-size: cover;
}

header h1 img {
  width: 206px;
  margin: auto;
}

.bg-head {
  background-color: #ffffffce;
  margin-bottom: 50px;
  padding: 5px 15px;
}

.cta-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cta {
  color: #ffffff;
  background: #57bb6b;
  text-decoration: none;
  padding: 13px 26px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: normal;
  font-size: 20px;
}

.cta-light {
  color: #57bb6b;
  background: #ffffff;
}

header p {
  font-size: 20px;
  text-align: center;
  color: #57bb6b;
  font-family: "Quattrocento", serif;
}

main {
  background-color: #57bb6b;
  margin: 0;
  color: #ffffff;
}

main img,
footer img {
  display: flex;
  width: 75px;
  margin: auto;
}

main p {
  margin-bottom: 50px;
  font-family: "Quattrocento", serif;
}

.decoration {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

.tiny {
  width: 27px;
}

h2 {
  text-align: center;
  font-size: 26px;
}

.section-light-top {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 40px 50px 100px;
}

.card {
  color: black;
  border: 2px;
  border-radius: 25px;
  margin: 0 25px 40px 25px;
  padding: 40px 40px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
  font-family: "Quattrocento", serif;
  margin: 0;
  padding-bottom: 50px;
  color: #7f7c6b;
}

.card img {
  margin: 0;
}

h3 {
  font-size: 23px;
  font-family: "Sriracha", cursive;
  margin: 0;
}

.card-light {
  background-color: #fff8d7;
}

.card-green {
  background-color: #c4f2ad;
}

.card-green p {
  margin: 0 40px 0 0;
}

.card-light-brown {
  background-color: #d3c6b2;
}

.card-pink {
  background-color: #f7a4b4;
}

a {
  color: black;
  font-weight: 700;
}

footer {
  background-color: white;
  color: #57bb6b;
  font-size: 12px;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding-bottom: 40px;
}

footer p {
  text-align: center;
  margin-bottom: 40px;
}

.section-light-bottom {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 40px 50px 75px;
}

.section-light-bottom h2 {
  margin-bottom: 35px;
  color: #57bb6b;
}
